<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Samples.Kinect.BodyBasics.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Samples.Kinect.BodyBasics.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Microsoft.Samples.Kinect.BodyBasics.UserSettings>
            <setting name="RecipientIpAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </Microsoft.Samples.Kinect.BodyBasics.UserSettings>
    </userSettings>
    <applicationSettings>
        <Microsoft.Samples.Kinect.BodyBasics.UserSettings>
            <setting name="LocalIpAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </Microsoft.Samples.Kinect.BodyBasics.UserSettings>
    </applicationSettings>
</configuration>